@media only screen and (max-width: 630px) {
  .banner {
    display: flex;
    flex-direction: column-reverse;
    margin: 80px 0;
    align-items: center;
  }

  .banner-left > .group-span span {
    font-size: 1rem;
  }
  .section-1 > div:nth-child(2) {
    flex-direction: column;
    align-items: center;
  }
  .section-1 > div:nth-child(2) > .card {
    width: 80%;
  }
  .section-5-bottom > div {
    flex-direction: column;
    align-items: center;
  }
  .section-5-bottom .section-5-item {
    width: 80%;
    min-width: 290px;
  }
  .section-9-bottom {
    flex-direction: column;
    align-items: center;
  }
  .section-9-bottom .section-9-item {
    width: 80%;
  }
  .section-8 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .section-8-left {
    width: 80%;
  }
  .section-8-right {
    width: 80%;
  }
  .like-box {
    display: none;
  }
  .section-6 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 550px) {
  .top-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
  }

  .head-link {
    margin: 0 auto;
    gap: 0.5rem;
  }
  .head-link > a > b {
    font-size: 0.5rem;
  }
  .foot-link {
    grid-column: span 4;
    margin: 0 auto;
  }
  .section-2-top {
    width: 100%;
    min-width: 300px;
  }

  .section-2-top > div > img {
    width: 100%;
    min-width: 300px;
  }
  .section-7-middle {
    flex-direction: column;
  }
  .section-4 {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .section-4-left {
    width: 80%;
    min-width: 290px;
  }
  .section-4-right > img {
    width: 100%;
    min-width: 300px;
  }
  .section-2-bottom {
    margin-top: 200px;
  }
  .section-2-bottom > div {
    width: 100%;
  }
  .section-6 {
    width: 95%;
  }
  .section-6-left {
    width: 80%;
    min-width: 290px;
  }
  .section-6-right {
    width: 80%;
    min-width: 290px;
  }
  .banner-right {
    width: 100%;
    min-width: 300px;
    justify-content: center;
  }
  .banner-right > img {
    margin-left: -30px;
  }
}
