@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 14px;
  background-color: #b22582;
  border: none;
  color: white;
  padding: 16px;
  width: 150px;
  border-radius: 32px;
}
button:hover {
  cursor: pointer;
  color: rgb(192, 191, 191);
  background-image: linear-gradient(to bottom right, #c5158b, #d2329d, #df55b1);
}

i[class="fa-regular fa-circle-check"] {
  color: purple;
}

i[class="fa-regular fa-circle-xmark"] {
  color: #d143a1;
}

.tag {
  font-size: 10px;
  background-image: linear-gradient(to right, #c5158b, #d2329d, #df55b1);
  color: white !important;
  padding: 5px 10px;
  width: 140px;
  text-align: center;
  letter-spacing: 1px;
  border-left: 5px solid black;
}
/* top-side */
.top-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 20px;
  font-size: 14px;
  box-shadow: 0px 0px 20px #737373af;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
.web-logo {
  display: flex;
  align-items: center;
}
.web-logo > img {
  width: 25px;
  height: 20px;
}
.head-link {
  flex-grow: 0.5;
  display: flex;
  justify-content: space-around;
}
.head-link > a:hover {
  color: #cd93bb;
}
.foot-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.foot-link > div > a {
  border: 1px solid #cd93bb;
  display: inline-flex;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  /* padding: 10px; */
}
.foot-link > div > a:hover {
  color: white;
  background-color: #b22582;
}

/* banner */
.banner {
  height: 400px;
  background-image: url("./resource/SL-022722-48830-19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}
.banner-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 40px;
}
.banner-left > span:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: #b22582;
}
.group-span > span > span {
  color: #b22582;
}
.group-span > span {
  font-size: 52px;
  font-weight: 700;
}

.banner-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
.banner-right > img {
  width: 300px;
  height: 350px;
  align-self: flex-end;
}

.group-user-pic > a {
  border: 1px solid white;
  background-color: #dadada;
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.group-user-pic > a:hover {
  color: white;
  background-color: black;
}
.group-user-pic > a:not(:first-child) {
  margin-left: -15px;
}
.like-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 180px;
  height: 150px;
  gap: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #737373af;
  margin-left: -70px;
}
.like-box > span {
  font-size: 24px;
  color: #e03caa;
  font-weight: 500;
}
.like-box > .danger-sign {
  font-size: 14px;
  color: #f60000;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* section-1 */
.section-1 {
  padding: 48px 180px;
}
.section-1 > div:first-child {
  font-size: 20px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.section-1 > div:first-child span {
  color: #b22582;
  letter-spacing: 1px;
}

.section-1 > div:nth-child(2) {
  display: flex;
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  height: 300px;
  background-color: #f3f6fd;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
}

.card:hover {
  background-color: #bcc2d0;
  color: white;
}

.card > b {
  font-size: 18x;
}

.card > small {
  font-size: 12px;
  text-align: center;
  padding: 0 24px;
  color: #737373;
  line-height: 20px;
}

.card > div {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div > img {
  width: 60px;
  height: 60px;
}

/* section-2 */
.section-2 {
  background-color: #f3ebf7;
  height: 600px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-2-top {
  display: flex;
  align-items: center;
  margin-top: -60px;
}
.section-2-top > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 50%;
}
.section-2-top > div > img {
  width: 400px;
  height: 300px;
  border-radius: 50%;
}
.section-2-top > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 50%;
}
.section-2-top > div:nth-child(2) > b {
  font-size: 32px;
  letter-spacing: 0.7px;
}
.section-2-top > div:nth-child(2) > b > span {
  color: #b22582;
}
.section-2-top > div:nth-child(2) > span {
  font-size: 12px;
  color: #737373;
  line-height: 20px;
}
.section-2-top > div:nth-child(2) > div {
  display: flex;
}
.box-aboutme {
  display: flex;
  gap: 10px;
}
.box-aboutme > div:first-child {
  flex-grow: 1;
}
.box-aboutme > div:first-child > div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #b22582;
}
.box-aboutme > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-aboutme > div:nth-child(2) > small {
  color: #737373;
  font-size: 10px;
  width: 70%;
}

.section-2-bottom {
  background: transparent;
  margin-top: -100px;
}

.section-2-bottom > div {
  width: 70%;
  background-image: linear-gradient(to right, #c5158b, #d2329d, #df55b1);
  margin: auto;
  height: 200px;
  display: flex;
  align-items: center;
}
.float-card {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.float-card:not(:last-child) {
  border-right: 1px solid white;
}
.float-card > div {
  flex-grow: 1;
}
.float-card > div:first-child {
  display: flex;
  align-items: center;
  font-size: 60px;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
}

.float-card > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.float-card > div:nth-child(2) > span > b {
  font-size: 40px;
}
.float-card > div:nth-child(2) > span {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* section-3 */
.section-3 {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 80px auto;
}
.section-3-top > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.section-3-top > div:nth-child(2) > b {
  font-size: 28px;
}
.section-3-top > div:nth-child(2) > b > span {
  color: #b22582;
}
.section-3-bottom {
  margin-top: 55px;
}
.section-3-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
}
.section-3-item {
  width: 33%;
  background-color: #f3f6fd;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 300px;
}
.section-3-item > img {
  width: 100%;
  height: 100%;
}

.section-4 {
  background-color: #eeecf7;
  height: 500px;
  display: flex;
  justify-content: center;
}
.section-4-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 40%;
}
.section-4-left > b {
  font-size: 28px;
}
.section-4-left > b > span {
  color: #b22582;
}
.section-4-left > div:nth-child(3) {
  color: #777684;
  font-size: 12px;
  line-height: 20px;
}
.bar {
  margin-bottom: 15px;
}
.bar > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}
.bar > div:first-child > span {
  color: #737373;
}
.skill-container {
  width: 100%;
  background-color: white;
  border-radius: 2px;
}
.skill {
  height: 5px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #c5158b, #d2329d, #df55b1);
}
.html {
  width: 80%;
}
.css {
  width: 70%;
}
.js {
  width: 60%;
}
.section-4-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.section-4-right > img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.section-5-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-5-top > b {
  font-size: 28px;
  letter-spacing: 1px;
}
.section-5-middle {
  background-color: #f3f6fd;
  padding: 10px;
  margin-top: 28px;
}
.section-5-middle > div > button {
  width: 80px;
  padding: 10px;
  font-size: 10px;
}
.section-5-middle > div > button:nth-child(2) {
  background-color: white;
  color: black;
}
.section-5-bottom {
  margin-top: 28px;
}
.section-5-bottom > div {
  display: flex;
  gap: 20px;
}
.section-5-item {
  display: flex;
  flex-direction: column;
  background-color: #f3f6fd;
  align-items: center;
}
.section-5-item > span {
  font-weight: 500;
  font-size: 10px;
  padding: 5px 20px;
  background-color: #c5158b;
  color: white;
}
.section-5-item > b {
  font-size: 30px;
  margin: 25px 0;
}
.section-5-item > img {
  border: 1px dashed #b22582;
  height: 200px;
  width: 250px;
  margin: 0 50px;
}
.section-5-item > ul {
  list-style-type: none;
  margin: 25px 0;
  font-size: 12px;
  font-weight: 500;
  color: #737373;
}
.section-5-item > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0;
}
.section-5-item > ul > li > span {
  width: 100%;
}
.section-5-item > button {
  padding: 9px;
  font-size: 12px;
  margin: 0 0 45px 0;
}

.section-5-item:hover {
  background-color: #200d2b;
}
.section-5-item:hover > span {
  background-color: #662d8c;
}
.section-5-item:hover > b {
  color: white;
}
.section-5-item:hover > ul {
  color: white;
}
.section-5-item:hover > img {
  border-color: #cd93bb;
}
.section-5-item:hover > ul > li > i[class="fa-regular fa-circle-check"] {
  color: whitesmoke;
}
.section-5-item:hover > ul > li > i[class="fa-regular fa-circle-xmark"] {
  color: red;
}
.section-5-item:hover button {
  background-color: #662d8c;
}

/* section-6 */
.section-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px;
  margin: 80px auto;
  background-image: linear-gradient(to right, #c5158b, #d2329d, #df55b1);
}
.section-6-left {
  display: flex;
  font-size: 32px;
  color: white;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.section-6-right {
  width: 40%;
}
.section-6-right > div {
  color: white;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.section-6-right > button {
  background-color: white;
  color: black;
  padding: 15px;
}

/* section-7 */
.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-7-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.section-7-top > b {
  font-size: 32px;
}
.section-7-middle {
  display: flex;
  padding: 40px 20px;
  gap: 20px;
  width: 80%;
}
.comment-card {
  border: 1px solid #7792e9;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-card > div {
  width: 80%;
  text-align: center;
  font-weight: 500;
}
.comment-card > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.comment-card > div:nth-child(2) > b {
  letter-spacing: 1px;
  font-size: 20px;
}
.comment-card > div:nth-child(2) > span {
  font-size: 12px;
  color: #7792e9;
  font-weight: 500;
}
.comment-card > div:nth-child(3) {
  background-color: #737373;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin-bottom: -45px;
}
.section-7-bottom {
  margin-top: 30px;
}
.section-7-bottom > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.section-7-bottom > div > button {
  width: 50px;
  height: 50px;
}
.section-7-bottom > div > div {
  border-left: 2px solid gray;
  height: 20px;
}

/* section-8 */
.section-8 {
  display: flex;
  margin-top: 80px;
  background-color: #f3f0f7;
  padding: 50px 0;
  justify-content: center;
  align-items: flex-start;
}
.section-8-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-8-left > b {
  font-size: 30px;
}
.section-8-left > div:nth-child(2) {
  color: #737373;
  font-size: 14px;
  line-height: 25px;
  width: 80%;
}

.section-8-left > div:nth-child(3) > div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.section-8-left > div:nth-child(3) > div > button {
  width: 50px;
  height: 50px;
}
.section-8-left > div:nth-child(3) > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.section-8-left > div:nth-child(3) > div > div > span:first-child {
  color: #7792e9;
  font-size: 12px;
}
.section-8-left > div:nth-child(3) > div > div > span:nth-child(2) {
  font-size: 20px;
  letter-spacing: 1.4px;
}
.section-8-right {
  width: 40%;
}
.section-8-right > b {
  font-size: 30px;
}
.section-8-right > div {
  display: flex;
  flex-direction: column;
}
.section-8-right .inputgroup {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
}
.section-8-right .inputgroup:nth-child(3) {
  margin-bottom: 20px;
}
.section-8-right .inputgroup input {
  padding: 15px;
  font-size: 12px;
  border: none;
  width: 50%;
  min-width: 250px;
}
.section-8-right .inputgroup select {
  color: #737373;
  padding: 15px;
  font-size: 12px;
  border: none;
  width: 50%;
  min-width: 250px;
}
.section-8-right .inputgroup textarea {
  width: 100%;
  border: none;
  padding: 15px;
}

/* section-9 */
.section-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-9-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 28px;
}
.section-9-top > b {
  font-size: 32px;
}
.section-9-bottom {
  display: flex;
  gap: 25px;
  width: 80%;
  margin-top: 50px;
}
.section-9-item {
  background-color: #f3f6fd;
}
.section-9-item > div > img {
  width: 100%;
}
.section-9-item-card {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  color: #737373;
  padding: 15px 25px;
}
.section-9-item-card i {
  color: #c5158b;
}
.section-9-item-card > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-9-item-card + div {
  padding: 0 25px;
  font-size: 20px;
  font-weight: 500;
  color: #1e0e2a;
}
.section-9-item-card + div + div {
  padding: 0 25px;
  margin: 15px 0;
  font-weight: 500;
}
.section-9-item-card + div + div > a {
  color: #c5158b;
}

.footer {
  margin-top: 60px;
  background-color: #200d2b;
  color: white;
  height: 130px;
  margin-bottom: 2px;
  display: flex;
}
.footer > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 100;
}
